<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>app-store</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>provisioningProfiles</key>
	<dict>
		<!-- قُم باستبدال القيمة التالية باسم ملف التكوين Provisioning Profile Name الخاص بك تماماً كما هو في حساب آبل -->
		<key>com.khetelehteraf.sparely</key>
		<string>Get sparely</string>
	</dict>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>LLH5F4W53Z</string>
</dict>
</plist>
